<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fengqipu.mall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Required 一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".main.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.fengqipu.mall.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.fengqipu.mall.tools.GlideConfigModule"
            android:value="GlideModule" />

        <!-- 百度定位 begin -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3U8GuUeGhttky3CcHrY4gGMKURcYjGgG" />
        <!-- 百度定位 end -->


        <!-- alipay sdk begin -->
        <activityH5PayActivity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- alipay sdk end -->
        <!-- wx sdk begin -->
        <receiver android:name=".main.acty.index.wx.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <!-- wx sdk end -->
        <activity android:name=".main.acty.index.zfb.H5PayDemoActivity" />
        <activity android:name=".main.acty.index.zfb.ZFBPayActivity" />

        <!-- 引导页 -->
        <activity android:name=".main.acty.index.WelcomeActivity" />
        <activity android:name=".main.acty.index.GuideActy" />
        <!-- 加载页 -->
        <activity android:name=".main.acty.index.PageLoadingActivity" />
        <!-- 首页 -->
        <activity
            android:name=".main.acty.MainActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 引导页 -->


        <!-- 添加收货地址 -->
        <activity android:name=".main.acty.mine.AddRecieveAddressActy" />
        <!-- 收货地址列表 -->
        <activity android:name=".main.acty.mine.RecieveAddressListActy" />
        <!-- 设置页面 -->
        <activity android:name=".main.acty.mine.SettingActy" />
        <!-- 账号管理 -->
        <activity android:name=".main.acty.mine.AccountManageActy" />
        <!-- 登录 -->
        <activity android:name=".main.acty.mine.LoginActy" />
        <!-- 注册 -->
        <activity android:name=".main.acty.mine.RegistCodeActy" />
        <!-- 注册 设置密码 -->
        <activity android:name=".main.acty.mine.RegistSetPasswordActy" />
        <!-- 找回密码 验证码 -->
        <activity android:name=".main.acty.mine.FindPasswordCodeActy" />
        <!-- 找回密码 -->
        <activity android:name=".main.acty.mine.FindAndSetPasswordActy" />
        <!-- 修改密码 -->
        <activity android:name=".main.acty.mine.EditPasswordActy" />
        <!-- 修改昵称 -->
        <activity android:name=".main.acty.mine.ModifyNickNameActivity" />
        <!-- 裁剪 -->
        <activity android:name=".main.base.square_clip.SquareClipActivity" />
        <activity android:name=".main.base.square_clip.CircleClipActivity" />
        <!-- 反馈 -->
        <activity android:name=".main.acty.mine.FeedBackActivity" />
        <!-- 优惠券 -->
        <!-- 订单列表 -->
        <activity android:name=".main.acty.mine.OrderListActivity" />
        <!-- 浏览历史 -->
        <activity android:name=".main.acty.mine.HistoryGoodsActivity" />
        <!-- 我的收藏 -->
        <!-- 关于我们 -->


        <!-- 评价 -->
        <activity
            android:name=".main.acty.mine.PublicCommentActy"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- 引导页demo  删除 -->
        <activity android:name=".view.banner.demo.ADRecyclerViewDemo" />
        <!-- 上传图片demo -->
        <activity
            android:name=".view.photopicker.view.ImageBucketChooseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- 图片选择 -->
        <activity
            android:name=".view.photopicker.view.ImageChooseActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- 图片 -->
        <activity
            android:name=".view.photopicker.view.ImageZoomActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- 发表社区动态 -->
        <!-- 查看社区的图片 -->
        <!-- webview -->
        <activity
            android:name=".main.base.CommonWebViewActivity"
            android:launchMode="singleTop" />
        <!-- 含热搜词的搜索页面 -->
        <activity android:name=".main.acty.index.SearchActy" />
        <!-- 城市列表页面 -->
        <activity
            android:name=".view.citylist.CityPickerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!-- 分类 更多 -->
        <!-- 母婴 装修 在线教育 二级页面 -->
        <!-- 我的帖子 -->
        <!-- 申请退款 -->
        <activity android:name=".main.acty.mine.RefundActy" />
        <!-- 产品详情页 -->
        <activity android:name=".main.acty.index.ProductActy" />
        <!-- 装修详情页 -->
        <!-- 商品评论列表 -->
        <activity android:name=".main.acty.index.ProductCommentActy" />
        <!-- 母婴搜索 -->
        <activity
            android:name=".main.acty.index.baby.SearchActy"
            android:windowSoftInputMode="adjustPan" />
        <!-- 物流管理 -->
        <activity android:name=".main.acty.logistics.LogisticsActivity" />
        <!-- 是否需要发票 -->
        <activity android:name=".main.acty.index.BillActivity" />
        <!-- 确认订单 -->
        <activity android:name=".main.acty.index.ConfirmOrderActivity" />
        <!-- 系统消息 -->
        <activity android:name=".main.acty.index.SystemNoticeActivity" />
        <!-- 消息列表 -->
        <activity android:name=".main.acty.index.zfb.NoticeListActivity" />
        <!-- 产品通知消息 -->
        <activity android:name=".main.acty.index.ProductNoticeActivity" />
        <!-- 订单详情 -->
        <activity android:name=".main.acty.mine.OrderDetailActivity" />
        <!-- 栏目列表页面 -->
        <activity android:name=".main.acty.index.ColumnListActy" />

        <!-- 支付成功 -->
        <activity android:name=".main.acty.mine.PaySucActivity" />
        <!-- 微信支付 -->
        <activity android:name=".wxapi.WXEntryActivity" />
        <activity android:name=".wxapi.WXPayEntryActivity" />
        <activity android:name=".main.acty.index.wx.PayActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx8b028169a963d350" />
            </intent-filter>
        </activity>
        <activity android:name=".main.acty.enterprise.EnterpriseActivity" />
        <activity android:name=".main.acty.enterprise.GoodsEnterpriseActivity" />
        <activity android:name=".main.acty.enterprise.EnterpriseListActivity" />
        <activity android:name=".main.acty.goods.GoodsDetailActivity" />
        <activity android:name=".main.acty.mine.NewMyFavourActivity" />
        <activity android:name=".main.acty.mine.OneButtonShopActivity" />
        <activity android:name=".main.acty.search.NewSearchActivity" />
        <activity android:name=".main.acty.search.SearchGoodsActivity" />
        <activity android:name=".main.acty.search.SearchShopsActivity" />
        <activity android:name=".main.acty.huodong.HuoDongActivity" />
        <activity android:name=".main.acty.search.SearchCategoryActivity"></activity>
    </application>

</manifest>
