
FQPMall/ptr-lib/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
FQPMall/ptr-lib/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
FQPMall/ptr-lib/build/intermediates/incremental/mergeDebugAssets/merger.xml
FQPMall/ptr-lib/build/intermediates/incremental/mergeDebugShaders/merger.xml
FQPMall/ptr-lib/build/intermediates/incremental/mergeReleaseAssets/merger.xml
FQPMall/ptr-lib/build/intermediates/incremental/mergeReleaseShaders/merger.xml
FQPMall/ptr-lib/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
FQPMall/ptr-lib/build/intermediates/incremental/packageDebugResources/merger.xml
FQPMall/ptr-lib/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
FQPMall/ptr-lib/build/intermediates/incremental/packageReleaseResources/merger.xml
FQPMall/ptr-lib/build/intermediates/res/resources-debug-androidTest.ap_
FQPMall/ptr-lib/build/outputs/aar/ptr-lib-debug.aar
FQPMall/ptr-lib/build/outputs/aar/ptr-lib-release.aar
FQPMall/ptr-lib/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
